In [1]:
import pandas as pd
import spacy
import nltk
from nltk import punkt
from collections import Counter

nlp = spacy.load("en_core_web_sm")

In [2]:
#wikidata = pd.read_csv(r'C:\Users\olami\Documents\tech\web projects\FinalYearProject\jsonToCsv\wikidata.csv')
wikidata = pd.read_csv(r'C:\Users\olami\Documents\tech\web projects\FinalYearProject\jsonToCsv\half_wikidata.csv')

In [3]:
import csv

wikidata_location = []

for text in wikidata['text']:
    doc = nlp(text)
    for ent in doc.ents:
        if ent.label_ == 'GPE':
            wikidata_location.append(doc)

In [2]:
 with open('wikitext_file.csv', 'w', newline ='', encoding = 'utf-8') as f:
    w = csv.writer(f)
     for data in wikidata_location:
        w.writerow(data)

In [1]:
#this won't work yet. Because the rows of the data are still tokenized.

#data = pd.read_csv(r'C:\Users\olami\Documents\tech\data science\wikitext_file.csv')

In [31]:
#the_wikidata = pd.DataFrame(data)
#the_wikidata 

#this below is want i mean by it won't work

             0
0      Wardner
1           is
2            a
3         side
4            -
...        ...
1315       Ōta
1316  Category
1317         :
1318     Visco
1319     games

[1320 rows x 1 columns]